/* Global styles */
body {
    margin: 0;
    background-color: aliceblue;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* Footer Styles */
footer {
    border-top-style: solid;
    border-top-width: 7px;
    border-top-color: teal;
    height: 30px;
    background-color: gray;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

h6 {
    margin: 0 auto;
    padding-top: 7px;
}

/* Header Styles */
nav {
    font-family: Georgia, Times, "Times New Roman", serif;
    border-bottom: 6px #cccccc;
    background-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 2px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

li {
    float: right;
    color: gray;
}

li a {
    color: gray;
    text-align: center;
    padding: 0px 5px 0px 5px;
    text-decoration: none;
}

li a:hover {
    color: #111;
}

.nav_wrapper {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.nameColor {
    color: white;
    text-decoration: none;
}

.logo {
    float: left;
    background-color: teal;
    padding: 20px 40px 20px 40px;
    text-align: center;
}

.left_nav {
    padding: 20px;
    float: right;
}

/* Main Content Styles */
p {
    word-spacing: 5px;
    text-align: justify;
    line-height: 1.5;
}

section {
    position: relative;
    margin: 30px auto;
    margin-bottom: 60px;
    margin-top: 80px;
    width: 960px;
    background-color: #ffffff;
    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: lightgray;
}

.main_container {
    margin: auto;
    width: 95%;
    overflow: hidden;
    margin-bottom: 20px;
}

header {
    font-size: 30px;
    color: teal;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 3px solid #ccc;
    padding: 0;
    clear: both;
}

.main_content {
    color: gray;
}

/* Porfolio Styles */
.image_container_left {
    position: relative;
    float: left;
    margin-right: 30px;
    margin-bottom: 50px;
    margin-left: 2px;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.image_container_right {
    position: relative;
    float: left;
    margin-bottom: 50px;
    clear: right;

    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.image_hover_effect:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.image_topic {
    position: absolute;
    bottom: 10%;
    background-color: teal;
    color: white;
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.portfolio_images {
    max-width: 300px;
    max-height: 300px;
}

/* Contact Styles */
form {
    text-align: left;
}

.input_box {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: gray;
    font-size: 14px;
    padding: 4px;
    width: 96%
}

textarea {
    font-family: Georgia, Times, "Times New Roman", serif;
    color: gray;
    border: 1px solid lightgray;
    font-size: 15px;
    padding: 4px;
    width: 96%;
    height: 250px;
}

.submit_button {
    color: white;
    background-color: teal;
    border: 0;
    padding: 10px 40px;
    font-weight: bold;
    font-size: 13px;
}

.submit_button:hover {
    background-color: darkcyan;
}
@media screen and (max-width: 980px) {
    .nav_wrapper {
        width: 95%;
    }
    section {
        max-width: 95%;
    }
}
@media screen and (max-width: 768px) {
    .nav_wrapper {
        width: 95%;
    }
    section {
        width: 95%;
    }
}
@media screen and (max-width: 640px) {
    nav {
        position: static;
    }
    .nav_wrapper {
        width: 100%;
    }
    .logo {
        width: 100%;
        font-size: 30px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .left_nav {
        display: inline-block;
        float: none;
        margin: auto;
        width: 100%;
    }

    ul {
        width: 210px;
        margin: 0 auto;
    }

    section {
        width: 95%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    footer {
        position: static;
    }
}